Flask==3.0.0
Werkzeug==3.0.1
weasyprint==60.2
num2words==0.5.13
gunicorn==21.2.0
cairocffi==1.6.1
CairoSVG==2.7.1
cssselect2==0.7.0
defusedxml==0.7.1
Pillow==10.1.0
pydyf==0.8.0
pyphen==0.14.0
tinycss2==1.2.1
fonttools==4.47.0
html5lib==1.1
webencodings==0.5.1
cffi==1.16.0
pycparser==2.21